.error {
    /* font-size: 16px;
    line-height: 1em;
    text-align: center;
    color: #D8000C;
    font-weight: 500;
    background-color: #FFBABA;
    @include transition(.5s);

    &.active {
        padding: 5px;
    } */

    /* &_message {
        color: #B10E1E;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
    } */

    /* &_npa {
        &-search {
            &-page {
                position: absolute;
                top: calc(100% - 20px);
                left: 15px;
                color: #fb3333;
                width: 250px;
                font-weight: 600;
                font-size: 14px;
            }
        }
    } */

    /* &_standart {
        display: none;
        background: #B10E1E;
        color: $white;
        @include f-s(12);
        line-height: 1.4em;
        font-weight: 600;
        padding: 15px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 15px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 10px 6px;
            border-color: transparent transparent #B10E1E transparent;
        }

        &.visible {
            display: block;
            margin-top: 15px;
        }
    } */
    &_validation {
        padding-left: 20px;
        color: #e40000;
        margin-bottom: 10px;
        display: none;

        &.visible {
            display: block;
        }
    }

    /* &_datepicker-interval {
        position: static;
        margin-top: 5px;
    }

    &_not-found {
        text-align: center;
        font-weight: 600;
        color: #004BC1;
        margin: 60px 0;
        width: 100%;
        display: block;

        @include media ("<lg") {
            margin: 40px 0 20px;
        }
    }



    &_header-search {
        color: #FFCC00;
        font-weight: 500;
        position: absolute;
        font-size: 16px;
        top: 100%;
        margin-top: 10px;

        @include media ("<lg") {
            position: static;
            margin-bottom: 10px;
        }
    } */
}

/* .modal-content {
    .error {
        background: none;
    }
} */
