<div class="chatbot">
    <div class="chatbot_content" id="chatbot_content">
        <div class="chatbot_list">
            <a href="https://t.me/Diia_help_bot?start=X3VybD0lMkZsaW5rJmQ9Mg" class="chatbot_item" rel="noopener noreferrer" target="_blank">
                <div class="chatbot_item-icn icn-chatbot_tl"></div>
                <div class="chatbot_item-text" >Telegram</div>
            </a>
            <a href="viber://pa?chatURI=diia_help_bot&context=X3VybD0lMkZsaW5rJmQ9Mg==" class="chatbot_item" rel="noopener noreferrer" target="_blank">
                <div class="chatbot_item-icn icn-chatbot_vb"></div>
                <div class="chatbot_item-text" >Viber</div>
            </a>
            <a href="https://m.me/105597857511240?ref=X3VybD0lMkZsaW5rJmQ9Mg==" class="chatbot_item" rel="noopener noreferrer" target="_blank">
                <div class="chatbot_item-icn icn-chatbot_fb"></div>
                <div class="chatbot_item-text">Messenger</div>
            </a>
        </div>
    </div>
    <div class="chatbot_btn" id="chatbot_btn" title="Чат бот"></div>
</div>
