<div class="scrollbar cookies js-cookies">
    <div class="cookies-1 js-cookies-1">
        <div class="cookies-1_close"></div>
        <div class="cookies-1_title">Файли Cookie</div>
        <div class="cookies-1_info">
            Дія не зберігає дані, але використовує cookies щоб працювати правильно.
            Натисніть «Дозволити всі», якщо ви погоджуєтесь на використання порталом цих файлів.
        </div>
        <div class="cookies-1_btn-wrap">
            <a href="javascript:void(0)" class="btn btn-fill cookies-1_btn cookies-1_btn-1">Дозволити всі</a>
            <a href="javascript:void(0)" class="btn btn_default cookies-1_btn cookies-1_btn-2">
                <span>Налаштувати</span>
            </a>
        </div>
    </div>
    <div class="cookies-2 js-cookies-2">
        <div class="cookies-2_close"></div>
        <div class="cookies-2_title">Центр налаштування конфіденційності</div>
        <div class="cookies-2_info">
            Ваш браузер зберігає та отримує інформацію у формі cookie файлів.
            Вона може стосуватись вас, ваших інтересів або вашого пристрою.
            Ця інформація не ідентифікує безпосередньо вас, але персоналізує ваш вебдосвід.
            Файли cookie потрібні для того, щоб персоналізувати ваше користування Порталом
            та зробити його приємнішим і зручнішим.
        </div>
        <div class="cookies-2-acc_wrap">
            <div class="cookies-2-acc_i">
                <div class="cookies-2-acc_i-top">
                    <div class="cookies-2-acc_i-check agree_wrap">
                        <label for="test-1" class="agree_wrap-inner disabled">
                            <input id="test-1" class="checkbox disabled" type="checkbox" name="" value="" checked>
                            <label for="test-1"></label>
                        </label>
                    </div>
                    <div class="cookies-2-acc_i-text">Обов’язкові файли cookie</div>
                    <div class="cookies-2-acc_i-btn js-cookies-2-acc_i-btn"></div>
                </div>
                <div class="cookies-2-acc_collapse collapse">
                    <div class="cookies-2-acc_i-info">
                        Вони потрібні, щоб реагувати на ваші запити, початок сеансу,
                        авторизацію чи заповнення форм. Ви можете налаштувати свій браузер так,
                        щоб він блокував ці файли або ж сповіщав про їх використання.
                        У такому разі деякі частини Порталу не працюватимуть.
                        Cookie не зберігають особисту інформацію
                    </div>
                </div>
            </div>
            {#
            <div class="cookies-2-acc_i">
                <div class="cookies-2-acc_i-top">
                    <div class="cookies-2-acc_i-check agree_wrap">
                        <label for="test-2" class="agree_wrap-inner">
                            <input id="test-2" class="checkbox" type="checkbox" name="" value="">
                            <label for="test-2"></label>
                        </label>
                    </div>
                    <div class="cookies-2-acc_i-text">Налаштування сайту</div>
                    <div class="cookies-2-acc_i-btn js-cookies-2-acc_i-btn"></div>
                </div>
                <div class="cookies-2-acc_collapse collapse">
                    <div class="cookies-2-acc_i-info">
                        Ці файли покращують роботу Порталу, його функціональність та персоналізацію.
                        Їх встановлюємо ми або треті сторони, наприклад, наші партнери.
                        Якщо їх деактивувати — деякі послуги можуть функціонувати некоректно.
                    </div>
                </div>
            </div>
            #}
            {#
            <div class="cookies-2-acc_i">
                <div class="cookies-2-acc_i-top">
                    <div class="cookies-2-acc_i-check agree_wrap">
                        <label for="test-3" class="agree_wrap-inner">
                            <input id="test-3" class="checkbox" type="checkbox" name="" value="">
                            <label for="test-3"></label>
                        </label>
                    </div>
                    <div class="cookies-2-acc_i-text">Продуктивність та аналітика</div>
                    <div class="cookies-2-acc_i-btn js-cookies-2-acc_i-btn"></div>
                </div>
                <div class="cookies-2-acc_collapse collapse">
                    <div class="cookies-2-acc_i-info">
                        Ці файли дозволяють нам рахувати відвідування та джерела трафіку.
                        Це потрібно, щоб покращити ефективність роботи Порталу.
                        Ми бачимо кількість відвідувачів сторінок і аналізуємо, які з них найпопулярніші.
                        З їхньою допомогою ми бачимо, який контент найбільш і найменш популярний.
                        Вся інформація, яку збирають ці cookie, анонімна.
                        Якщо заборонити їх використання, ми не зможемо покращити роботу Порталу.
                    </div>
                </div>
            </div>
            #}
            {#
            <div class="cookies-2-acc_i">
                <div class="cookies-2-acc_i-top">
                    <div class="cookies-2-acc_i-check agree_wrap">
                        <label for="test-4" class="agree_wrap-igit nner">
                            <input id="test-4" class="checkbox" type="checkbox" name="" value="">
                            <label for="test-4"></label>
                        </label>
                    </div>
                    <div class="cookies-2-acc_i-text">Реклама та соціальні медіа</div>
                    <div class="cookies-2-acc_i-btn js-cookies-2-acc_i-btn"></div>
                </div>
                <div class="cookies-2-acc_collapse collapse">
                    <div class="cookies-2-acc_i-info">
                        Ці файли cookies потрібні, щоб ми могли створити профіль ваших інтересів та
                        на їх основі повідомляти вам у соцмережах та на інших платформах про нові
                        послуги та продукти в Дії. Файли не зберігають вашу особисту інформацію,
                        але ідентифікують ваш пристрій та браузер. Якщо ці cookie заборонити,
                        не зможете отримувати персоналізовані рекламні оголошення від Дії.
                    </div>
                </div>
            </div>
            #}
        </div>
        <div class="cookies-2_btn-wrap">
            <a href="javascript:void(0)" class="btn btn-fill cookies-2_btn cookies-2_btn-1 js-cookies-2_btn-1">Дозволити всі</a>
            {#
            <a href="javascript:void(0)" class="btn btn_default cookies-2_btn cookies-2_btn-2">
                <span>Дозволити обрані</span>
            </a>
            #}
        </div>
    </div>
</div>
