[menu]
code = "footer"
[servicesCategories servicesCategoriesFooter]
==
{% set footer = partial('footer').fields %}
{% set socials = partial('socials').fields %}

<footer id="layout-footer" class="footer">
    <div class="container footer_top">
        <div class="row">
        {% for category in servicesCategoriesFooter.categories if category.subcategoriesTree|length %}
            <div class="col-sm-6">
                <div class="row">
                    <div class="services-short_item-title js-services-short_item-title">{{ category.name }}</div>
                    {% if category.subcategoriesTree|length %}
                    <div class="services-short_item-box">
                        {% for subcategory in category.subcategoriesTree %}
                            <div class="services-short_item">
                                <a href="{{ subcategory.getUrl(category)|url }}" class="services-short_item-link">{{ subcategory.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <hr class="footer_hr">
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-9">
                    {% partial 'menu/footer' items = menu.menuItems class = 'footer-menu' %}
                </div>
                <div class="col-md-6 col-lg-3 socials_footer-wrap">
				    {% if socials.items|length %}
				    	<div class="socials_footer-title">{{ 'Слідкуй за нами тут'|_ }}:</div>
					    <ul class="socials socials_footer fa-white">
					    	{% for item in socials.items %}
						    	<li>
		                            <a href="{{ item.url }}" target="_blank" rel="nofollow">
		                                <i class="fa fa-{{ item.icon }}"></i>
		                            </a>
		                        </li>
					        {% endfor %}
					        {# {{ item.icon }} #}
					    </ul>
				    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div class="dev-company">
                        <div class="dev-company_icon">
                            <div class="dev-company_icon-item dev-company_icon-gerb"></div>
                            <div class="dev-company_icon-item dev-company_icon-diya"></div>
                        </div>
                        <div class="dev-company_text">
                            <p>diia.gov.ua</p>
                            <p>2019 - {{ 'now'|date('Y') }}. Всі права захищені.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="store">
                        <a href="https://apps.apple.com/us/app/дія/id1489717872" title="Завантажити з ‎App Store" class="store-apple" target="_blank" rel="noopener noreferrer"></a>
                        <a href="https://play.google.com/store/apps/details?id=ua.gov.diia.app" title="Завантажити з ‎Google Play‎" class="store-google" target="_blank" rel="noopener noreferrer"></a>
                        <a href="https://bit.ly/2A4TxzB"
                           title="Завантажити з HUAWEI AppGallery"
                           class="store-app-gallery"
                           target="_blank"
                           rel="noopener noreferrer"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
