<section class="question_section">
    <div class="container">
        <div class="row align-items-center align-items-lg-end justify-content-lg-between">
            <div class="col-8 col-lg-6">
                <h1 class="article-level-1">Питання <br>та відповіді</h1>
            </div>
            <div class="col-4">
            	<div class="question_section-all">
            		<div class="wrap-all-link">
	                    <a href="{{ getPageByTemplate('questions').url|url }}" class="wrap-all-link_link">
	                        <span>Всі питання та відповіді</span>
	                    </a>
	                </div>
            	</div>
            </div>
        </div>
        <div class="row">
        	{% if faqCategories.categories|length %}
				{% for category in faqCategories.categories if category.questions|length %}
					<div class="col-lg-4">
						<div class="question_item {% if loop.first %}first{% endif %}">
							<div class="question_item-category js-question_item-category">
							 	<div class="question_item-category-text">
							 		{{ category.name }}
							 	</div>
							</div>
							{% if category.questions|length %}
							<div class="question_item-content">
							 	{% for item in category.questions %}
									<a href="{{ item.url|url }}" class="question_item-text">{{ item.question }}</a>
								{% endfor %}
							 </div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			{% endif %}
        </div>
    </div>
</section>
