<div class="row">
    <div class="col-12">
        <div class="life-sit-acc_item">
            <div class="life-sit-acc_item-quest js-life-sit-acc_item-quest">
                {{ title }}
            </div>
            <div class="collapse life-sit-acc_simple-answer">
                <div class="editor-content editor-content_life-sit">
                    {{ data.content|raw }}
                </div>
                {% if data.items|length %}
                <div class="life-sit_repiter-gradient">
                    <div class="life-sit_repiter-container">
                        {% for item in data.items %}
                        <div class="life-sit_repiter{% if loop.first %} first{% endif %}">
                            {% if item.title %}
                            <div class="life-sit_repiter-title js-life-sit_repiter-title">{{ item.title }}</div>
                            {% endif %}
                            {% if item.text %}
                            <div class="life-sit_repiter-content collapse">
                                <div class="editor-content editor-content_life-sit pb-0">
                                    {{ item.text|raw }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
