/* @font-face {
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
} */

/* @font-face {
    font-family: "ProbaPro";
    src: url("./../../../fonts/ProbaPro/ProbaPro-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "ProbaPro";
    src: url("./../../../fonts/ProbaPro/ProbaPro-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "ProbaPro";
    src: url("./../../../fonts/ProbaPro/ProbaPro-SemiBold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "ProbaPro";
    src: url("./../../../fonts/ProbaPro/ProbaPro-Bold.woff") format("woff");
    font-weight: 700;
} */

@font-face {
    font-family: "e-ukraine";
    font-style: normal;
    src: url("../../fonts/e-Ukraine-new/e-Ukraine-Light.woff") format("woff");
    font-weight: 300;
    // font-display: swap;
}

@font-face {
    font-family: "e-ukraine";
    font-style: normal;
    src: url("../../fonts/e-Ukraine-new/e-Ukraine-Regular.woff") format("woff");
    font-weight: 400;
    // font-display: swap;
}

@font-face {
    font-family: "e-ukraine";
    font-style: normal;
    src: url("../../fonts/e-Ukraine-new/e-Ukraine-Medium.woff") format("woff");
    font-weight: 500;
    // font-display: swap;
}

@font-face {
    font-family: "e-ukraine-heading";
    font-style: normal;
    src: url("../../fonts/e-Ukraine-new/e-UkraineHead-Regular.woff") format("woff");
    font-weight: 400;
    // font-display: swap;
}
