/* e-ukraine-Text */
$font: 'e-ukraine';
/* End e-ukraine-Text */
/* e-ukraine-heading */
$font-h: 'e-ukraine-heading';
/* End e-ukraine-heading */
$font-color:#1D1D1B;
$font-size-body:18;

$white: #fff;
$black: #000;
$orange: #FFBD00;
$soft-grey: #d3d5d9;
$light-grey: #FBFBFB;
$grey: #aab3c6;
$yellow: #ffe358;
$l_yellow: #FFF4D7;
$blue: #004BC1;
$red: #990404;


/* Главние цвета теми */
/* Главние цвета теми */

/* Главние цвета кнопок */
$btn:#FFE358;
$btn-hover:#FFCE00;
$btn-active:#FFCE00;
$btn-disable:#C2C6CC;
$btn-font:#1d1d1b;
$btn-border:#6d727c;
/* Главние цвета кнопок */

/* Главние цвета кнопок  ACTION */
$btn-action: #f5f7fa;
$btn-action-hover:#2d5ca6;
$btn-action-active:#234161;
$btn-action-disable:#f5f7fa;
/* Главние цвета кнопок ACTION */

$selection: #304f80;
$linkColor: #004BC1;
$textGrey: #6D727C;
